streamlit
Faker==19.13.0
openai
pandas
pycaret[full]
pydub
python-dotenv
python-magic
qdrant-client
streamlit-audiorecorder==0.0.5
pydantic==2.8.2
instructor

# jupyterlab
# matplotlib
# plotly
# pydantic==2.8.2
# seaborn
# ydata-profiling
# numpy
